<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>時區對照表-v2</title>
    <link rel="icon" href="dist/assets/images/moon.svg" type="image/x-icon">

    <!-- Plugin -->
    <link href="dist/assets/css/plugins/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link href="dist/assets/css/style.css" rel="stylesheet">
</head>
<body>
    
    <main id="app">

        <section class="header-wrap">

            <form>
                <fieldset>
                    <label for="person-name">姓名</label>
                    <input type="text" id="person-name" v-model="form_name">
                </fieldset>

                <fieldset>
                    <label for="timezone-continent">州</label>
                    <select name="timezone-continent" id="timezone-continent" v-model="form_continent" @change="changeContinent()">
                        <option value="" selected>請選擇選項</option>
                        <option v-for="(continent, i) of select_continent_arr" :value="continent" :key="i">{{ continent }}</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label for="timezone-country">國家</label>
                    <select name="timezone-country" id="timezone-country" v-model="form_country" @change="changeCountry()">
                        <option value="" selected>請選擇選項</option>
                        <option v-for="(country, i) of select_country_arr" :value="country" :key="i">{{ country }}</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label for="timezone-region">城市地區</label>
                    <select name="timezone-region" id="timezone-region" v-model="form_region">
                        <option value="" selected>請選擇選項</option>
                        <option v-for="(region, i) of select_region_arr" :value="region" :key="i">{{ region }}</option>
                    </select>
                </fieldset>
        
                <button type="button" @click="addPerson()">新增成員</button>
            </form>

        </section>

        <section class="main-wrap">

            <table class="table table-wrap">
                <thead>
                    <tr>
                        <td>目前時間</td>
                        <td>時區對照</td>
                        <td>地區/城市/GMT</td>
                        <td>時區</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) of current_list">

                        <!-- 目前時間 -->
                        <td>
                            {{ item.person_name }}<br>
                            <span class="time">{{ item.cur_hour }}</span><br>
                            {{ item.cur_date }} {{ item.cur_week }}<br>

                            <div class="btn-wrap">
                                <button @click="sortPerson(index, 'up')">上移</button>
                                <button @click="sortPerson(index, 'down')">下移</button>
                                <button @click="delPerson(index)">刪除</button>
                            </div>
                        </td>

                        <!-- 時區對照 -->
                        <td>
                            <div class="hour-wrap">
                                <span v-for="(h, index) of item.hours_arr" 
                                      :data-hour="h"
                                      class="hour"
                                      :class="{ 
                                        'sel': hover_index === index,
                                        'cur': h == item.cur_time
                                      }"
                                      @mouseover="hover_index=index" @mouseleave="hover_index=false"
                                >{{ h }}</span>
                            </div>
                        </td>

                        <!-- 地區/城市/GMT -->
                        <td>
                            {{ item.person_location }}<br>
                            {{ item.gmt }}
                        </td>

                        <!-- 時區 -->
                        <td>
                            {{ item.gmt_ch }}<br>
                            {{ item.gmt_en }}
                        </td>

                    </tr>
                </tbody>
            </table>

        </section>

    </main>
    

    <!-- Plugins -->
    <!-- <script src="dist/assets/js/plugins/bootstrap.min.js"></script> -->
    <script src="dist/assets/js/plugins/vue.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/manuelmhtr/countries-and-timezones@latest/dist/index.min.js" type="text/javascript"></script>


    <!-- Custom -->
    <script src="dist/assets/js/bundle.js"></script>
</body>
</html>