<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>時區對照表-v2</title>
    <link rel="icon" href="dist/assets/images/moon.svg" type="image/x-icon">

    <!-- Plugin -->
    <link href="dist/assets/css/plugins/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link href="dist/assets/css/style.css" rel="stylesheet">
</head>
<body>
    
    <main id="app">

        <section class="header-wrap">

            <form>
                <fieldset>
                    <label for="person-name">姓名</label>
                    <input type="text" id="person-name" v-model="form_name">
                </fieldset>
    
                <fieldset>
                    <label for="person-timezone">位置</label>
                    <select name="person-timezone" id="person-timezone" v-model="form_timezone">
                        <option value="">請選擇選項</option>
                        <optgroup v-for="(item, i) of aryIannaTimeZones" :label="item.continent" :key="i">
                            <option v-for="(place, j) of item.region" :value="item.continent + '/' +  place" :key="i+j">{{ place }}</option>
                        </optgroup>
                    </select>
                </fieldset>
    
                <button type="button" @click="addPerson()">新增成員</button>
            </form>

        </section>

        <section class="main-wrap">

            <table class="table table-wrap">
                <thead>
                    <tr>
                        <td>目前時間</td>
                        <td>時區對照</td>
                        <td>地區/城市/GMT</td>
                        <td>時區</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) of current_list">

                        <!-- 目前時間 -->
                        <td>
                            {{ item.person_name }}<br>
                            <span class="time">{{ item.cur_hour }}</span><br>
                            {{ item.cur_date }} {{ item.cur_week }}<br>
                            <button @click="delPerson(index)">刪除</button>
                        </td>

                        <!-- 時區對照 -->
                        <td>
                            <div class="hour-wrap">
                                <span v-for="(h, index) of item.hours_arr" 
                                      :data-hour="h"
                                      class="hour"
                                      :class="{ 
                                        'sel': hover_index === index,
                                        'cur': h == item.cur_time
                                      }"
                                      @mouseover="hover_index=index" @mouseleave="hover_index=false"
                                >{{ h }}</span>
                            </div>
                        </td>

                        <!-- 地區/城市/GMT -->
                        <td>
                            {{ item.person_location }}<br>
                            {{ item.gmt }}
                        </td>

                        <!-- 時區 -->
                        <td>
                            {{ item.gmt_ch }}<br>
                            {{ item.gmt_en }}
                        </td>

                    </tr>
                </tbody>
            </table>

        </section>

    </main>
    

    <!-- Plugins -->
    <!-- <script src="dist/assets/js/plugins/bootstrap.min.js"></script> -->
    <script src="dist/assets/js/plugins/vue.min.js"></script>

    <!-- Custom -->
    <script src="dist/assets/js/bundle.js"></script>
</body>
</html>