html, body {
    padding: 0;
    margin: 0;
}


// 表格
.table-wrap {

    .table-header,
    .table-body {
        table-layout: fixed;
        text-align: center;
        margin: 0;

        tr {

            td, th {
                
            }
        }
    }

    .table-header {

    }

    .table-body {

    }
}


// 備註欄位
.comment-text {
    
}


// 按鈕
.icon-btn {
    cursor: pointer;

    &::before {
        font-family: 'Material Symbols Rounded';
    }

    // 編輯
    &.edit {
        &::before {
            content: '\e3c9';
        }
    }

    // 刪除
    &.del {
        &::before {
            content: '\e872';
        }
    }

    // 複製
    &.copy {
        &::before {
            content: '\e14d';
        }
    }
}