<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google info -->
    <meta name="description" content="勞務報酬計算機">
    <meta name="author" content="Copyright&copy;Since 2019, JoyXie.">
    
    <!-- facebook og -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="勞務報酬計算機"/>
    <meta property="og:site_name" content="勞務報酬計算機"/>
    <meta property="og:description" content="勞務報酬計算機"/>
    <meta property="og:url" content="https://minruxie.github.io/demo_station/quote-calculation/"/>
    <meta property="og:image" content="https://minruxie.github.io/demo_station/quote-calculation/dist/assets/images/calculator.svg"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="315"/>

    <title>勞務報酬計算機</title>
    <link rel="icon" href="dist/assets/images/calculator.svg" type="image/x-icon">
	<link rel="stylesheet" href="dist/assets/css/style.css" type="text/css" />
</head>
<body>

    <main>
        <h1>勞務報酬計算機</h1>
        <section class="card_wrap">
            <div id="app" class="card">
                <h2>報價計算機</h2>
                <div  class="grid-wrap">
                    <div class="grid-row">
                        <div class="grid-item layout-left">報價（支領金額）</div>
                        <div class="grid-item layout-right">
                            <div>{{getTaxIncludedQuotation}}</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(quotation)[4] }}萬</span>
                                <span>{{ getChineseNumber(quotation)[3] }}千</span>
                                <span>{{ getChineseNumber(quotation)[2] }}百</span>
                                <span>{{ getChineseNumber(quotation)[1] }}拾</span>
                                <span>{{ getChineseNumber(quotation)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">
                            <input type="checkbox" id="health_insurance_fare" name="insurance" v-model="health_toggle">
                            <label for="health_insurance_fare">
                                健保補充保費 2.11%<br>（報價>=20K）
                            </label>
                        </div>
                        <div class="grid-item layout-right">
                            <div>{{getHealthInsurance}} (四捨五入)</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(health_insurance)[4] }}萬</span>
                                <span>{{ getChineseNumber(health_insurance)[3] }}千</span>
                                <span>{{ getChineseNumber(health_insurance)[2] }}百</span>
                                <span>{{ getChineseNumber(health_insurance)[1] }}拾</span>
                                <span>{{ getChineseNumber(health_insurance)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">
                            <input type="checkbox" id="income_tax_fare" name="income_tax" v-model="income_tax_toggle">
                            <label for="income_tax_fare">
                                代扣所得稅 10%<br>（報價>20K）
                            </label>
                        </div>
                        <div class="grid-item layout-right">
                            <div>{{getIncomeTax}} (四捨五入)</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(income_tax)[4] }}萬</span>
                                <span>{{ getChineseNumber(income_tax)[3] }}千</span>
                                <span>{{ getChineseNumber(income_tax)[2] }}百</span>
                                <span>{{ getChineseNumber(income_tax)[1] }}拾</span>
                                <span>{{ getChineseNumber(income_tax)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">最終實領（支領淨額）</div>
                        <div class="grid-item layout-right">
                            <div>
                                <input type="number" min="0" placeholder="請輸入金額" v-model="final_actual_collar">
                            </div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(final_actual_collar)[4] }}萬</span>
                                <span>{{ getChineseNumber(final_actual_collar)[3] }}千</span>
                                <span>{{ getChineseNumber(final_actual_collar)[2] }}百</span>
                                <span>{{ getChineseNumber(final_actual_collar)[1] }}拾</span>
                                <span>{{ getChineseNumber(final_actual_collar)[0] }}元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="app2" class="card">
                <h2>最終實領計算機</h2>
                <div class="grid-wrap">
                    <div class="grid-row">
                        <div class="grid-item layout-left">報價（支領金額）</div>
                        <div class="grid-item layout-right">
                            <div>
                                <input type="number" min="0" placeholder="請輸入金額" v-model="quotation">
                            </div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(quotation)[4] }}萬</span>
                                <span>{{ getChineseNumber(quotation)[3] }}千</span>
                                <span>{{ getChineseNumber(quotation)[2] }}百</span>
                                <span>{{ getChineseNumber(quotation)[1] }}拾</span>
                                <span>{{ getChineseNumber(quotation)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">
                            <input type="checkbox" id="health_insurance_fare-2" name="insurance" v-model="health_toggle">
                            <label for="health_insurance_fare-2">
                                健保補充保費 2.11%<br>（報價>=20K）
                            </label>
                        </div>
                        <div class="grid-item layout-right">
                            <div>{{getHealthInsurance}} (四捨五入)</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(health_insurance)[4] }}萬</span>
                                <span>{{ getChineseNumber(health_insurance)[3] }}千</span>
                                <span>{{ getChineseNumber(health_insurance)[2] }}百</span>
                                <span>{{ getChineseNumber(health_insurance)[1] }}拾</span>
                                <span>{{ getChineseNumber(health_insurance)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">
                            <input type="checkbox" id="income_tax_fare-2" name="income_tax" v-model="income_tax_toggle">
                            <label for="income_tax_fare-2">
                                代扣所得稅 10%<br>（報價>20K）
                            </label>
                        </div>
                        <div class="grid-item layout-right">
                            <div>{{getIncomeTax}} (四捨五入)</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(income_tax)[4] }}萬</span>
                                <span>{{ getChineseNumber(income_tax)[3] }}千</span>
                                <span>{{ getChineseNumber(income_tax)[2] }}百</span>
                                <span>{{ getChineseNumber(income_tax)[1] }}拾</span>
                                <span>{{ getChineseNumber(income_tax)[0] }}元</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-item layout-left">最終實領（支領淨額）</div>
                        <div class="grid-item layout-right">
                            <div>{{getFinalActualCollar}}</div>
                            <div class="chinese-wrap">
                                <span>{{ getChineseNumber(final_actual_collar)[4] }}萬</span>
                                <span>{{ getChineseNumber(final_actual_collar)[3] }}千</span>
                                <span>{{ getChineseNumber(final_actual_collar)[2] }}百</span>
                                <span>{{ getChineseNumber(final_actual_collar)[1] }}拾</span>
                                <span>{{ getChineseNumber(final_actual_collar)[0] }}元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <!-- Plugin -->
    <script src="dist/assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="dist/assets/js/plugins/vue.min.js"></script>

    <!-- Custom -->
    <script src="dist/assets/js/bundle.js"></script>
</body>
</html>